@font-face {
    font-family: 'Verdana';
    src: url('Verdana.eot');
    src: url('Verdana.eot?#iefix') format('embedded-opentype'),
        url('Verdana.woff2') format('woff2'),
        url('Verdana.woff') format('woff'),
        url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana-Bold.eot');
    src: url('Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('Verdana-Bold.woff2') format('woff2'),
        url('Verdana-Bold.woff') format('woff'),
        url('Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

