@media only screen and (max-width: 1346px){
    $logo-width: 20vw;
    .navbar .navbar-content {
        .site-logo{
            width: $logo-width;
            min-width: 200px;
        }
        .pagesMenu{
            left: calc($logo-width + $nav-gap);
            .page-menu-list .page-menu-item{
                max-width: 200px;
            }
        }
        .navbar-menu{
            width: calc(100% - $logo-width + $nav-gap);
            .navbar-menu-list .navbar-item{
                white-space: nowrap;
                .nav-sub-menu{
                    left : calc(($logo-width + $nav-gap + $nav-padding-x ));
                    width: calc(100% - ($logo-width + $nav-gap + ($nav-padding-x * 2)));
                    // .sub-menu-list .nav-sub-item{
                        // max-width: 100%
                    // }
                }
            }
        }
    }
}
@media only screen and (max-width: 1140px){
    .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item{
        max-width: 100%;
        width: 20%;
        min-width: max-content;
    }
}

@media only screen and (max-width: 1020px){
    .navbar .navbar-content {
        .navbar-menu{
            width: calc(100% - 200px + $nav-gap);
            .navbar-menu-list .navbar-item{
                white-space: nowrap;
                // min-width: max-content;
                .nav-sub-menu{
                    left : calc((200px + $nav-gap + $nav-padding-x ));
                    width: calc(100% - (200px + $nav-gap + ($nav-padding-x * 2)));
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    $logo-width: 150px;
    $logo-height: 85px;
    $nav-padding-x: 10px;
    .navbar {
        padding: 16px $nav-padding-x;
        .navbar-content {
            .site-logo{
                min-width: 150px;
                height: 85px;
            }
            .pagesMenu .page-menu-list .page-menu-item{
                max-width: 100%;
                font-size: 12px;
            }
            .navbar-menu{
                width: calc(100% - $logo-width + $nav-gap);
                .navbar-menu-list .navbar-item{
                    white-space: nowrap;
                    font-size: 12px;
                    .nav-sub-menu {
                        left : calc(($logo-width + $nav-gap + $nav-padding-x ));
                        width: calc(100% - ($logo-width + $nav-gap + ($nav-padding-x * 2)));
                        .sub-menu-list .nav-sub-item{
                            max-width: 100%;
                            font-size: 12px;
                        }
                    }
                }
            }
            
        }
        .navbar-searhcbar-con {
            .navbar-search{
                width: 65%;
                
                &.active{
                    height: 200px;
                }
            
                .searchbar-input-con.active {
                    .search-input-con{
                        width: calc(100vw - 20px);
                    }
                    label{
                        font-size: 12px;
                    }
                }
                .navbar-search-btn .btn-icon{
                    width: 90%;
                }
            }
           .navbar-controls{
            width: 35%;
           }
        }
    }
    // main{
    //     .main-content{
    //         visibility: visible;
    //     }
    // }
}
@media only screen and (max-width: 560px){
    .navbar {
         .navbar-content {
            flex-wrap: wrap;
            .site-logo{
                width: 100%; 
            }
            .pagesMenu{
                left: 0;
                width: 100%;
                .page-menu-list {
                    gap: 5px;
                    .page-menu-item{
                        max-width: 100%;
                        font-size: 8px;
                        height:22px;
                        padding: 6px;
                        &.active, &.hovered{
                            height: 40px;
                        }
                    }
                }
            }
            .navbar-menu {
                width: 100%;
                .navbar-menu-list {
                    gap: 5px;
                    .navbar-item{
                        font-size: 8px;
                        height: 22px;
                        padding: 6px;
    
                        &.hovered, &.active{
                            height: 50px;
                        }
                        .nav-sub-menu {
                            top: 165px;
                            left: 10px;
                            width: calc(100% - 20px);

                            .sub-menu-list{
                                gap: 5px;
                                .nav-sub-item{
                                    max-width: 100%;
                                    font-size: 8px;
                                    height:22px;
                                    padding: 6px;
                                    &.active, &.hovered{
                                        height: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-searhcbar-con {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            .navbar-search{
                width: 100%;
                .searchbar-input-con {
                    &.active, &.hovered{
                        height: 80px;
                    }
                    label{
                        font-size: 10px;
                    }
                }
                .navbar-search-btn .btn-icon{
                    width: 100%;
                }
            }
           .navbar-controls{
                width: 100%;
                .navbar-control{
                    height: 50px;
                    font-size: 16px;
                }
           }
        }
    }
    main{
        padding: 10px;
        height: 35vh;
    }

    .search-results-con {
        padding: 16px 20px;
        .section-header .site-logo{
            width: 150px;
            height: 60px;
        }
        .section-content {
            .search-results .search-results-list .search-result-item {
                .item-header div{
                    margin-right: 1rem;
                }
                .item-text-content p{
                    font-size: 14px;
                }
            }
            .section-text h3{
                font-size: 16px;
            }
            .search-results .search-results-list .search-result-item .item-details div{
                margin-right: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 414px){
    .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item{
        min-width: max-content;
    }
}