// Fonts 
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff'),
        url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff') format('woff'),
        url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueRegular.eot');
    src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('../fonts/HelveticaNeueRegular.woff') format('woff'),
        url('../fonts/HelveticaNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueBold.eot');
    src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBold.woff') format('woff'),
        url('../fonts/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueMedium.eot');
    src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueMedium.woff') format('woff'),
        url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
    &:active, &:hover, &:focus{
        color: #000000;
    }
}

$logo-width: 280px;
$logo-height: 120px;
$nav-gap: 16px;
$nav-menu-gap: 10px;

body{
    margin: 0;
    font-family: 'Verdana';
    background: #e4e4e4;
}
.main-wrapper{
    width: 100%;
    position: relative;
    min-height: 99.7vh;

    .bg_video_section{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;
        &.show{
            visibility: visible;
        }
        .video-display-con{
            width: 100%;
            height: 100%;
            
            .player_video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: #ffffff;
            opacity: 0.1;
            z-index: 0;
            top: 0;
            left: 0;
        }
    }
}


// Navbar Styles
.navbar{
    padding: 16px 32px;
    .navbar-content{
        display: flex;
        gap: $nav-gap;
        position: relative;
        .site-logo{
            width: $logo-width;
            height: $logo-height;
            background: #FFF724;
            padding: 6px 13px;
            font-family: 'Verdana';
            font-size: 12px;
            letter-spacing: 0.05em;
            cursor: pointer;

            .logo-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .logo{
                font-size: 14px;
            }
            .copyright{
                font-size: 8px;

            }
        }
        .pagesMenu{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            padding-top: 10px;
            left: calc($logo-width + $nav-gap);
            width: calc(100% - $logo-width + $nav-gap);
            animation: none;
            animation-duration: 0.5s ;
            animation-iteration-count: 1 ;
            animation-fill-mode: forwards;
            cursor: pointer;
            &.active,&:hover{
                // height: 100%;
                animation-name: fadeIn;
            }
            .page-menu-list{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: $nav-menu-gap;
                height: 60px;
                .page-menu-item{
                    width: 100%;
                    max-width: calc(20% - (($nav-menu-gap * 3)/4));
                    height: 30px;
                    padding: 6px 10px;
                    color: #000000;
                    font-size: 12px;
                    letter-spacing: 0;
                    font-weight: normal;
                    font-style: normal;
                    text-transform: uppercase;
                    background: #79E0FF;
                    display: flex;
                    align-items: flex-start;
                    white-space: nowrap;
                    cursor: pointer;
                    &.active,&:hover{
                       height: 100%;
                    }
                    &.item-1{
                        background: #E0D800;
                    }
                    &.item-2{
                        background: #EDE631;
                    }
                    &.item-3{
                        background: #F0EC81;
                    } 

                }
                
            }
        }

        .navbar-menu{
            width: calc(100% - $logo-width + $nav-gap);
            .navbar-menu-list{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                gap: $nav-menu-gap;
                position: relative;

                .navbar-item{
                    width: 100%;
                    height: 30px;
                    padding: 6px 10px;
                    color: #000000;
                    font-size: 12px;
                    letter-spacing: 0.05em;
                    font-weight: normal;
                    font-style: normal;
                    text-transform: uppercase;
                    transition: all 0.3s;
                    background: #79E0FF;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    &.active,&.hovered{
                        height: 100%;
                        .nav-sub-menu{
                            // display: block;
                            animation-name: fadeIn;
                        }
                    }
                    &.item-1{
                        background: #79E0FF;
                        // height: 100%;
                        // .nav-sub-menu{
                            // visibility:visible;
                        // }
                    }
                    &.item-2{
                        background: #C4FF00;
                    }
                    &.item-3{
                        background: #DBDB84;
                    }
                    &.item-4{
                        background: #F5DA45;
                    }
                    &.item-5{
                        background: #E5C5C5;
                    }

                    a{
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                    .nav-sub-menu{
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: 100%;
                        padding-top: 10px;
                        left: 0;
                        width: 100%;
                        animation: none;
                        animation-duration: 0.5s ;
                        animation-iteration-count: 1 ;
                        animation-fill-mode: forwards;
                        .sub-menu-list{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            gap: $nav-menu-gap;
                            height: 60px;
                            .nav-sub-item{
                                width: 100%;
                                max-width: calc(20% - (($nav-menu-gap * 3)/4));
                                height: 30px;
                                padding: 6px 10px;
                                color: #000000;
                                font-size: 12px;
                                letter-spacing: 0;
                                font-weight: normal;
                                font-style: normal;
                                text-transform: uppercase;
                                background: #79E0FF;
                                display: flex;
                                align-items: flex-start;
                                white-space: nowrap;
                                cursor: pointer;
                                &.active,&:hover{
                                   height: 100%;
                                }
                                &.item-1{
                                    background: #79E0FF;
                                }
                                &.item-2{
                                    background: #4AA2F1;
                                }
                                &.item-3{
                                    background: #83E0FC;
                                }
                                &.item-4{
                                    background: #9CD8EA;
                                }

                            }
                            
                        }
                    }
                }
            }
        }
    }
    .navbar-searhcbar-con{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: $nav-gap - 2;
        margin-top: 74px;
        .navbar-search{
            color: #ffffff;
            width: 74%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: $nav-menu-gap + 2;
            .searchbar-input-con{
                width: calc(80% - ($nav-menu-gap + 2px) / 2);
                padding: 0;

                &.active{
                    label{
                        height: 100px;
                    }
                    .search-input-con{
                        width: calc(100vw - 64px);
                        height: 80px;

                        .search-input{
                            margin-top: 25px;
                        }
                    }
                }
            }
            label{
                background: #000000;
                color: #ffffff;
                font-size: 14px;
                text-transform: uppercase;
                height: 36px;
                display: block;
                width: 100%;
                padding: 3px 14px;
                margin: 0;
                transition: all 0.2s;
            }
            .search-input-con{
                background: #000000;
                height: 45px;
                padding: 4px 14px;
                border: none;
                outline: none;
                position: relative;
                top: -2px;
                transition: all 0.4s;
            }
            .search-input{
                background-color: transparent;
                border: 0;
                outline: 0;
                border-left: 1px solid #f2f2f26c;
                color: #fff;
                width: 100%;
                height: 100%;
                max-height: 40px;
                font-size: 16px;
                &:focus{
                    border: 0;
                    outline: 0;
                    box-shadow: none;
                }
            }
            .navbar-search-btn{
                background: #000000;
                width: calc(20% - ($nav-menu-gap + 2px) / 2);
                height: 80px;
                padding: 2px 6px;
                cursor: pointer;
                .btn-icon{
                    width: 80px;
                    height: 40px;
                    padding: 10.4px 8px;
                    border: 1px solid #ffffff;
                    img{
                        width: 24px;
                    }
                }
            }
        }
        .navbar-controls{
            width: 26%;
            display: flex;
            align-items: center;
            gap: $nav-menu-gap - 2;
            .navbar-control{
                padding: 2px 5px;
                background: #000;
                // width: calc(25% - ((($nav-menu-gap - 2px) * 3)) / 4);
                height: 80px;
                width: 100%;
                color: #fff;
                cursor: pointer;
                display: flex;
                align-items: flex-start;

                .arrow-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #fff;
                    img{
                        width: 60%;
                    }
                }
                
            }
        }
    }
}

@keyframes fadeIn{
    0%{
        visibility: visible;
        opacity: 0;
    }
    60%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}



// Main Styles Start 
main{
    padding: 30px;
    height: 50vh;
    display: flex;
    align-items: flex-end;
     
    .main-content{
        width: 100%;
        visibility: hidden;
        max-width: 100vw;
        overflow: hidden;
        &.show{
            visibility: visible;
        }
    }
    // Video Player Styles 
    .video-player-container{
        .video-display-con{
            background: rgba(255,255,255,0.3);
            width: 100%;
            max-height: 400px;

            video{
                width: 100%;
                max-height: 400px;
                object-fit: cover;
            }
        }

        .video-controls-con{
            margin-top: 122px;
            position: relative;

            .progress-range{
                width: 100%;
                height: 20px;
                background: url(../img/player-progress-bg.svg);
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                border-left: 5px solid #000000;
                border-right: 5px solid #000000;
                position: relative;
                cursor: pointer;

                .progress-bar{
                    background: #00FF62;
                    width: 20px;
                    height: 10px;
                    border-radius: 0;
                    transition: all 0.2s ease;
                    position: relative;
                    top: -10px;
                    cursor: pointer;
                }
            }
            .video-control-buttons{
                .mute-btn{
                    position: absolute;
                    top: -50px;
                    left: 0;
                    width: 60px;
                    height: 40px;
                    cursor: pointer;
                    z-index: 2;
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .progress-title-con{
                    position: absolute;
                    bottom: 30px;
                    left: 0;
                    min-width: 200px;
                    transition: all 0.3s ease-in-out;
                    transform: scale3d(1,1,1) translateY(0) skewX(0);
                    &.rubberBand{
                        animation-name: rubberBand;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-iteration-count: 1;
                    }
                    .progress-title{
                        font-size: 14px;
                        line-height: 17px;
                        text-transform: uppercase;
                        margin-bottom: 4px;
                    }
                    .progress-title-btn{
                        width: 200px;
                        height: 40px;
                        background: #000000;
                    }
                }
            }
        }
    }
}

@keyframes rubberBand{
    0%{
        transform: scale3d(1,1,1);
    }
    100%{
        transform: scale3d(1.1,0.9,1) skewX(3deg) translateY(7px);
    }
}



// Search Results Screen Styles 
.search-results-con{
    padding: 16px 32px;
    background: #000000;
    color: #ffffff;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    top: 100%;
    left: 0;
    display: none;
    transition: all 0.4s;
    z-index: 9;
    max-width: 100vw;
    overflow: hidden;
    &.show{
        display: block;
    }
    &.appear{
        top: 0;
    }

    .section-header{
        display: flex;
        align-items: end;
         justify-content: space-between;
        .site-logo{
            width: $logo-width;
            height: $logo-height;
            background: #62FF00;
            padding: 4px 13px;
            font-family: 'Verdana';
            color: #000000;
            .logo-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .logo{
                font-size: 14px;
            }
            .copyright{
                font-size: 8px;

            }
        }
        .btn-close{
            width: 60px;
            height: 60px;
            background: transparent;
            color: #b1b1b1;
            font-size: 32px;
            font-weight: normal;
            border: 1px solid #b1b1b1;
            cursor: pointer;
            &:hover{
                color: #ffffff;
            }
        }
    }
    .section-content{
        margin-top: 40px;
        max-width: 1125px;
        .section-text{
            h3{
                font-size: 20px;
                font-family: 'HelveticaNeue';
                font-weight: normal;
                letter-spacing: 3px;
                margin-bottom: 10px;
                line-height: 125%;
                span{
                    color: #62FF00;
                    text-transform: uppercase;
                }
            }
            p{
                font-family: 'HelveticaNeue';
                font-size: 9px;
                max-width: 600px;
                line-height: 115%;
            }
        }
        .search-results{
            font-family: 'HelveticaNeue';
            margin-top: 50px;
            max-height: 570px;
            overflow-y: scroll;
            scroll-behavior: smooth;
            .search-results-list{
                .search-result-item{
                    margin-bottom: 40px;
                    .item-header{
                        display: flex;
                        align-items: center;
                        color: #62FF00;
                        font-size: 12px;
                        span{
                            margin-right: 6px;
                        }
                        .result-numb{
                            font-size: 20px;
                        }
                        div{
                            margin-right: 3rem;
                            .data-tag{
                                width: 66px;
                                height: 29px;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                background: #62FF00;
                                color: #000000;
                                margin-left: 8px;
                            }
                        }
                    }
                    .item-details{
                        margin-top: 38px;
                        display: flex;
                        font-size: 14px;
                        text-transform: uppercase;
                        padding-left: 30px;
                        div{
                            margin-right: 3rem;
                        }
                        a{
                            color: #ffffff;
                        }
                    }
                    .item-text-content{
                        margin-top: 35px;
                        padding-left: 30px;
                        p{
                            width: 80%;
                            font-size: 18px;
                            letter-spacing: 2px;
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .search-results-controls{
        position: absolute;
        z-index: 2;
        top: 75%;
        right: 30px;
        .results-control{
            width: 60px;
            height: 60px;
            font-size: 22px;
            background: transparent;
            color: #e4e4e4;
            border: 1px solid #e4e4e4;
            display: block;
            cursor: pointer;
            margin-bottom: 30px;
            opacity: 0.4;
            &:hover{
                opacity: 1;
            }
        }
    }
}

@import 'responsive'