@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana.eot");
  src: url("../fonts/Verdana.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana.woff2") format("woff2"), url("../fonts/Verdana.woff") format("woff"), url("../fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Bold.eot");
  src: url("../fonts/Verdana-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana-Bold.woff2") format("woff2"), url("../fonts/Verdana-Bold.woff") format("woff"), url("../fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueRegular.eot");
  src: url("../fonts/HelveticaNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueRegular.woff2") format("woff2"), url("../fonts/HelveticaNeueRegular.woff") format("woff"), url("../fonts/HelveticaNeueRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBold.eot");
  src: url("../fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueMedium.eot");
  src: url("../fonts/HelveticaNeueMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/HelveticaNeueMedium.woff") format("woff"), url("../fonts/HelveticaNeueMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
a:active, a:hover, a:focus {
  color: #000000;
}

body {
  margin: 0;
  font-family: "Verdana";
  background: #e4e4e4;
}

.main-wrapper {
  width: 100%;
  position: relative;
  min-height: 99.7vh;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;
}
.main-wrapper .bg_video_section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
}
.main-wrapper .bg_video_section.show {
  visibility: visible;
}
.main-wrapper .bg_video_section .video-display-con {
  width: 100%;
  height: 100%;
}
.main-wrapper .bg_video_section .video-display-con .player_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrapper .bg_video_section::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  opacity: 0.1;
  z-index: 0;
  top: 0;
  left: 0;
}

.navbar {
  padding: 16px 32px;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.navbar .navbar-content {
  display: flex;
  gap: 16px;
  position: relative;
}
.navbar .navbar-content .site-logo {
  width: 280px;
  height: 120px;
  background: #FFF724;
  padding: 6px 13px;
  font-family: "Verdana";
  font-size: 12px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.navbar .navbar-content .site-logo .logo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-content .site-logo .logo {
  font-size: 14px;
}
.navbar .navbar-content .site-logo .copyright {
  font-size: 8px;
}
.navbar .navbar-content .pagesMenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(100% - 90px);
  padding-top: 10px;
  left: 296px;
  width: calc(100% - 280px + 16px);
  animation: none;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
  z-index: 2;
}
.navbar .navbar-content .pagesMenu.active, .navbar .navbar-content .pagesMenu:hover {
  animation-name: fadeIn;
}
.navbar .navbar-content .pagesMenu .page-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  height: 60px;
}
.navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item {
  width: 100%;
  max-width: calc(20% - 7.5px);
  height: 30px;
  padding: 6px 10px;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  background: #79E0FF;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  cursor: pointer;
}
.navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item.active, .navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item:hover {
  height: 100%;
}
.navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item.item-1 {
  background: #E0D800;
}
.navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item.item-2 {
  background: #EDE631;
}
.navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item.item-3 {
  background: #F0EC81;
}
.navbar .navbar-content .navbar-menu {
  width: calc(100% - 280px + 16px);
  overflow-x: auto;
  overflow-y: visible;
  height: 210px;
}
.navbar .navbar-content .navbar-menu::-webkit-scrollbar {
  display: none;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item {
  min-width: calc(20% - 9px);
  height: 30px;
  padding: 6px 10px;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  transition: all 0.3s;
  background: #79E0FF;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.active, .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.hovered {
  height: 120px;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.active .nav-sub-menu, .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.hovered .nav-sub-menu {
  animation-name: fadeIn;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item:nth-of-type(odd) {
  background: #79E0FF;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item:nth-of-type(even) {
  background: #C4FF00;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.item-1 {
  background: #79E0FF;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.item-2 {
  background: #C4FF00;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.item-3 {
  background: #DBDB84;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.item-4 {
  background: #F5DA45;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.item-5 {
  background: #E5C5C5;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item a {
  width: 100%;
  height: 100%;
  display: block;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 133px;
  padding-top: 10px;
  left: 322px;
  width: calc(100% - 360px);
  animation: none;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  height: 60px;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item {
  width: 100%;
  max-width: calc(20% - 8px);
  height: 30px;
  padding: 6px 10px;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  background: #79E0FF;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  cursor: pointer;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item.active, .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item:hover {
  height: 100%;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item.item-1 {
  background: #79E0FF;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item.item-2 {
  background: #4AA2F1;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item.item-3 {
  background: #83E0FC;
}
.navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item.item-4 {
  background: #9CD8EA;
}
.navbar .navbar-searhcbar-con {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  margin-top: 0;
}
.navbar .navbar-searhcbar-con .navbar-search {
  color: #ffffff;
  width: 74%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con {
  width: calc(80% - 6px);
  padding: 0;
}
.navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con.active label {
  height: 100px;
}
.navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con.active .search-input-con {
  width: calc(100vw - 64px);
  height: 80px;
}
.navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con.active .search-input-con .search-input {
  margin-top: 25px;
}
.navbar .navbar-searhcbar-con .navbar-search label {
  background: #000000;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  height: 36px;
  display: block;
  width: 100%;
  padding: 3px 14px;
  margin: 0;
  transition: all 0.2s;
}
.navbar .navbar-searhcbar-con .navbar-search .search-input-con {
  background: #000000;
  height: 45px;
  padding: 4px 14px;
  border: none;
  outline: none;
  position: relative;
  top: -2px;
  transition: all 0.4s;
}
.navbar .navbar-searhcbar-con .navbar-search .search-input {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-left: 1px solid rgba(242, 242, 242, 0.4235294118);
  color: #fff;
  width: 100%;
  height: 100%;
  max-height: 40px;
  font-size: 16px;
}
.navbar .navbar-searhcbar-con .navbar-search .search-input:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}
.navbar .navbar-searhcbar-con .navbar-search .navbar-search-btn {
  background: #000000;
  width: calc(20% - 6px);
  height: 80px;
  padding: 2px 6px;
  cursor: pointer;
}
.navbar .navbar-searhcbar-con .navbar-search .navbar-search-btn .btn-icon {
  width: 80px;
  height: 40px;
  padding: 10.4px 8px;
  border: 1px solid #ffffff;
}
.navbar .navbar-searhcbar-con .navbar-search .navbar-search-btn .btn-icon img {
  width: 24px;
}
.navbar .navbar-searhcbar-con .navbar-controls {
  width: 26%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar .navbar-searhcbar-con .navbar-controls .navbar-control {
  padding: 2px 5px;
  background: #000;
  height: 80px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}
.navbar .navbar-searhcbar-con .navbar-controls .navbar-control .arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}
.navbar .navbar-searhcbar-con .navbar-controls .navbar-control .arrow-icon img {
  width: 60%;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 0;
  }
  60% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
main {
  padding: 0 30px;
  position: fixed;
  z-index: 0;
  bottom: 5vh;
  width: 100%;
}
main:hover .video-player-container a {
  visibility: visible;
}
main .video-player-container .video-display-con {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  max-height: 400px;
}
main .video-player-container .video-display-con video {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
main .video-player-container a {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 45vh;
  visibility: hidden;
  max-width: 100vw;
  overflow: hidden;
}
main .video-player-container .video-controls-con {
  margin-top: 0px;
  position: relative;
}
main .video-player-container .video-controls-con .progress-range {
  width: 100%;
  height: 20px;
  background: url(../img/player-progress-bg.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
  position: relative;
  cursor: pointer;
}
main .video-player-container .video-controls-con .progress-range .progress-bar {
  background: #00FF62;
  width: 20px;
  height: 10px;
  border-radius: 0;
  transition: all 0.2s ease;
  position: relative;
  top: -10px;
  cursor: pointer;
}
main .video-player-container .video-controls-con .video-control-buttons .mute-btn {
  position: absolute;
  top: -50px;
  left: 0;
  width: 60px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
}
main .video-player-container .video-controls-con .video-control-buttons .mute-btn img {
  width: 100%;
  object-fit: contain;
}
main .video-player-container .video-controls-con .video-control-buttons .progress-title-con {
  position: absolute;
  bottom: 30px;
  left: 0;
  min-width: 200px;
  transition: all 0.3s ease-in-out;
  transform: scale3d(1, 1, 1) translateY(0) skewX(0);
}
main .video-player-container .video-controls-con .video-control-buttons .progress-title-con.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
main .video-player-container .video-controls-con .video-control-buttons .progress-title-con .progress-title {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
main .video-player-container .video-controls-con .video-control-buttons .progress-title-con .progress-title-btn {
  width: 200px;
  height: 40px;
  background: #000000;
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.1, 0.9, 1) skewX(3deg) translateY(7px);
  }
}
.search-results-con {
  padding: 16px 32px;
  background: #000000;
  color: #ffffff;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 100%;
  left: 0;
  display: none;
  transition: all 0.4s;
  z-index: 9;
  max-width: 100vw;
  overflow: hidden;
}
.search-results-con.show {
  display: block;
}
.search-results-con.appear {
  top: 0;
}
.search-results-con .section-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.search-results-con .section-header .site-logo {
  width: 280px;
  height: 120px;
  background: #62FF00;
  padding: 4px 13px;
  font-family: "Verdana";
  color: #000000;
}
.search-results-con .section-header .site-logo .logo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-results-con .section-header .site-logo .logo {
  font-size: 14px;
}
.search-results-con .section-header .site-logo .copyright {
  font-size: 8px;
}
.search-results-con .section-header .btn-close {
  width: 60px;
  height: 60px;
  background: transparent;
  color: #b1b1b1;
  font-size: 32px;
  font-weight: normal;
  border: 1px solid #b1b1b1;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.search-results-con .section-header .btn-close:hover {
  color: #ffffff;
}
.search-results-con .section-header .btn-close span svg {
  display: block;
  width: 100%;
  height: 100%;
}
.search-results-con .section-content {
  margin-top: 40px;
  max-width: 1125px;
}
.search-results-con .section-content .section-text h3 {
  font-size: 20px;
  font-family: "HelveticaNeue";
  font-weight: normal;
  letter-spacing: 3px;
  margin-bottom: 10px;
  line-height: 125%;
}
.search-results-con .section-content .section-text h3 span {
  color: #62FF00;
  text-transform: uppercase;
}
.search-results-con .section-content .section-text p {
  font-family: "HelveticaNeue";
  font-size: 9px;
  max-width: 600px;
  line-height: 115%;
}
.search-results-con .section-content .search-results {
  font-family: "HelveticaNeue";
  margin-top: 50px;
  max-height: 570px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item {
  margin-bottom: 40px;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-header {
  display: flex;
  align-items: center;
  color: #62FF00;
  font-size: 12px;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-header span {
  margin-right: 6px;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-header .result-numb {
  font-size: 20px;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-header div {
  margin-right: 3rem;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-header div .data-tag {
  width: 66px;
  height: 29px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #62FF00;
  color: #000000;
  margin-left: 8px;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-details {
  margin-top: 38px;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 30px;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-details div {
  margin-right: 3rem;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-details a {
  color: #ffffff;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-text-content {
  margin-top: 35px;
  padding-left: 30px;
}
.search-results-con .section-content .search-results .search-results-list .search-result-item .item-text-content p {
  width: 80%;
  font-size: 18px;
  letter-spacing: 2px;
}
.search-results-con .section-content .search-results::-webkit-scrollbar {
  display: none;
}
.search-results-con .search-results-controls {
  position: absolute;
  z-index: 2;
  top: 75%;
  right: 30px;
}
.search-results-con .search-results-controls .results-control {
  padding: 7px;
  width: 60px;
  height: 60px;
  font-size: 22px;
  background: transparent;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  opacity: 0.4;
}
.search-results-con .search-results-controls .results-control:hover {
  opacity: 1;
}
.search-results-con .search-results-controls .results-control .arrow-icon {
  width: 25%;
}
.search-results-con .search-results-controls .results-control .arrow-icon svg {
  width: 100%;
  display: block;
}
.search-results-con .search-results-controls .results-control.prev .arrow-icon {
  rotate: -90deg;
}
.search-results-con .search-results-controls .results-control.next {
  align-items: flex-end;
}
.search-results-con .search-results-controls .results-control.next .arrow-icon {
  rotate: 90deg;
}

.sub-page-popup {
  padding: 16px 32px;
  background: #000000;
  color: #ffffff;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 100%;
  left: 0;
  display: none;
  transition: all 0.4s;
  z-index: 9;
  max-width: 100vw;
  overflow: hidden;
}
.sub-page-popup.show {
  display: block;
}
.sub-page-popup.appear {
  top: 0;
}
.sub-page-popup .section-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.sub-page-popup .section-header .site-logo {
  width: 280px;
  height: 120px;
  background: #FFF724;
  padding: 4px 13px;
  font-family: "Verdana";
  color: #000000;
}
.sub-page-popup .section-header .site-logo .logo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-page-popup .section-header .site-logo .logo {
  font-size: 14px;
}
.sub-page-popup .section-header .site-logo .copyright {
  font-size: 8px;
}
.sub-page-popup .section-header .btn-close {
  width: 60px;
  height: 60px;
  background: transparent;
  color: #b1b1b1;
  font-size: 32px;
  font-weight: normal;
  border: 1px solid #b1b1b1;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.sub-page-popup .section-header .btn-close:hover {
  color: #ffffff;
}
.sub-page-popup .section-header .btn-close span svg {
  display: block;
  width: 100%;
  height: 100%;
}
.sub-page-popup .section-content {
  margin-top: 80px;
  max-width: 1125px;
}
.sub-page-popup .section-content .section-title h4 {
  font-size: clamp(14px, 1.042vw, 26px);
  text-transform: uppercase;
  line-height: 110%;
  margin-bottom: 64px;
}
.sub-page-popup .section-content .section-contact-details {
  margin-top: 40px;
}
.sub-page-popup .section-content p {
  font-family: "HelveticaNeue";
  font-size: clamp(12px, 0.938vw, 22px);
  max-width: 98%;
  line-height: 115%;
  letter-spacing: 4px;
  margin-bottom: 60px;
}
.sub-page-popup .section-content .button {
  font-family: "HelveticaNeue";
  padding: 14px 33px;
  background: #FFF724;
  display: inline-block;
  color: #000000;
  font-size: clamp(10px, 0.85vw, 16px);
  font-weight: 600;
}
.sub-page-popup .sub-page-controls {
  position: absolute;
  z-index: 2;
  top: 75%;
  right: 30px;
}
.sub-page-popup .sub-page-controls .results-control {
  padding: 7px;
  width: 60px;
  height: 60px;
  font-size: 22px;
  background: transparent;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  opacity: 0.4;
}
.sub-page-popup .sub-page-controls .results-control:hover {
  opacity: 1;
}
.sub-page-popup .sub-page-controls .results-control .arrow-icon {
  width: 25%;
}
.sub-page-popup .sub-page-controls .results-control .arrow-icon svg {
  width: 100%;
  display: block;
}
.sub-page-popup .sub-page-controls .results-control.prev .arrow-icon {
  rotate: -90deg;
}
.sub-page-popup .sub-page-controls .results-control.next {
  align-items: flex-end;
}
.sub-page-popup .sub-page-controls .results-control.next .arrow-icon {
  rotate: 90deg;
}

@media only screen and (max-width: 1346px) {
  .navbar .navbar-content .site-logo {
    width: 20vw;
    min-width: 200px;
  }
  .navbar .navbar-content .pagesMenu {
    left: calc(20vw + 16px);
  }
  .navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item {
    max-width: 200px;
  }
  .navbar .navbar-content .navbar-menu {
    width: calc(100% - 20vw + 16px);
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item {
    white-space: nowrap;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu {
    left: calc(20vw + 16px + 32px);
    width: calc(100% - (20vw + 16px + 64px));
  }
}
@media only screen and (max-width: 1140px) {
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item {
    max-width: 100%;
    width: 20%;
    min-width: max-content;
  }
}
@media only screen and (max-width: 1020px) {
  .navbar .navbar-content .navbar-menu {
    width: calc(100% - 200px + 16px);
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item {
    white-space: nowrap;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu {
    left: 248px;
    width: calc(100% - 280px);
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 16px 10px;
  }
  .navbar .navbar-content .site-logo {
    min-width: 150px;
    height: 85px;
  }
  .navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item {
    max-width: 100%;
    font-size: 12px;
  }
  .navbar .navbar-content .navbar-menu {
    width: calc(100% - 150px + 16px);
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item {
    white-space: nowrap;
    font-size: 12px;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu {
    left: 176px;
    width: calc(100% - 186px);
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item {
    max-width: 100%;
    font-size: 12px;
  }
  .navbar .navbar-searhcbar-con .navbar-search {
    width: 65%;
  }
  .navbar .navbar-searhcbar-con .navbar-search.active {
    height: 200px;
  }
  .navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con.active .search-input-con {
    width: calc(100vw - 20px);
  }
  .navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con.active label {
    font-size: 12px;
  }
  .navbar .navbar-searhcbar-con .navbar-search .navbar-search-btn .btn-icon {
    width: 90%;
  }
  .navbar .navbar-searhcbar-con .navbar-controls {
    width: 35%;
  }
}
@media only screen and (max-width: 560px) {
  .navbar .navbar-content {
    flex-wrap: wrap;
  }
  .navbar .navbar-content .site-logo {
    width: 100%;
  }
  .navbar .navbar-content .pagesMenu {
    left: 0;
    width: 100%;
  }
  .navbar .navbar-content .pagesMenu .page-menu-list {
    gap: 5px;
  }
  .navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item {
    max-width: 100%;
    font-size: 8px;
    height: 22px;
    padding: 6px;
  }
  .navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item.active, .navbar .navbar-content .pagesMenu .page-menu-list .page-menu-item.hovered {
    height: 40px;
  }
  .navbar .navbar-content .navbar-menu {
    width: 100%;
    height: 115px;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list {
    gap: 5px;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item {
    min-width: calc(25% - 4px);
    font-size: 8px;
    height: 22px;
    padding: 6px;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.hovered, .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item.active {
    height: 50px;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu {
    top: 165px;
    left: 10px;
    width: calc(100% - 20px);
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list {
    gap: 5px;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item {
    max-width: 100%;
    font-size: 8px;
    height: 22px;
    padding: 6px;
  }
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item.active, .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item .nav-sub-menu .sub-menu-list .nav-sub-item.hovered {
    height: 40px;
  }
  .navbar .navbar-searhcbar-con {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .navbar .navbar-searhcbar-con .navbar-search {
    width: 100%;
  }
  .navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con.active, .navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con.hovered {
    height: 80px;
  }
  .navbar .navbar-searhcbar-con .navbar-search .searchbar-input-con label {
    font-size: 10px;
  }
  .navbar .navbar-searhcbar-con .navbar-search .navbar-search-btn .btn-icon {
    width: 100%;
  }
  .navbar .navbar-searhcbar-con .navbar-controls {
    width: 100%;
  }
  .navbar .navbar-searhcbar-con .navbar-controls .navbar-control {
    height: 50px;
    font-size: 16px;
  }
  main {
    padding: 10px;
  }
  main .video-player-container a {
    height: 30vh;
  }
  main .video-player-container .video-controls-con .video-control-buttons .progress-title-con .progress-title-btn {
    width: 110px;
  }
  .search-results-con {
    padding: 16px 20px;
  }
  .search-results-con .section-header .site-logo {
    width: 150px;
    height: 60px;
  }
  .search-results-con .section-content .search-results .search-results-list .search-result-item .item-header div {
    margin-right: 1rem;
  }
  .search-results-con .section-content .search-results .search-results-list .search-result-item .item-text-content p {
    font-size: 14px;
  }
  .search-results-con .section-content .section-text h3 {
    font-size: 16px;
  }
  .search-results-con .section-content .search-results .search-results-list .search-result-item .item-details div {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 414px) {
  .navbar .navbar-content .navbar-menu .navbar-menu-list .navbar-item {
    min-width: max-content;
  }
}/*# sourceMappingURL=style.css.map */